@import "../../../styles/config";

.btn {
    margin: 1em;
    padding: .75em 1.5em;
    border-radius: 5em;
    cursor: pointer;

    transition: all 200ms ease;
}

.boxShadow {
	box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
}

// HANDLE VARIANTS
.primary {
    border: 1px solid;

    @include theme-aware('background-color', 'primary');
    @include theme-aware('color', 'on-primary');
    @include theme-aware('border-color', 'primary');

    &:hover, &:focus {
        background-color: transparent;
        @include theme-aware('color', 'primary');
    }
}

.primaryOutline {
    background-color: transparent;
    border: 1px solid;
    backdrop-filter: blur(15px);

    @include theme-aware('border-color', 'primary');
    @include theme-aware('color', 'primary');

    &:hover, &:focus {
        @include theme-aware('background-color', 'primary');
        @include theme-aware('color', 'on-primary');
    }
}
