$themes: (
    light: (
        primary: #6200EE,
        primary-high: #6200EE87,
        primary-md: #6200EE60,
        primary-light: #6200EE38,
        primary-variant: #3700B3,
        secondary: #03DAC6,
        secondary-variant: #018786,
        
        background: #ffffff,
        surface: #ffffff,
        error: #B00020,
        
        on-error: #ffffff,
        on-surface: #000000,
        on-background: #000000,
        on-secundary: #000000,
        on-primary: #ffffff,
    ),
    dark: (
        primary: #6200EE,
        primary-high: #6200EE87,
        primary-md: #6200EE60,
        primary-light: #6200EE38,
        primary-variant: #3700B3,
        secondary: #03DAC6,
        secondary-variant: #018786,
        
        background: #000000,
        surface: #000000,
        error: #B00020,
        
        on-error: #ffffff,
        on-surface: #ffffff,
        on-background: #ffffff,
        on-secundary: #000000,
        on-primary: #ffffff,
    ),
);