@import "../../../styles/config";

.container {
    display: flex;
    justify-content: center;
}

.carousel {
    position: relative;
    display: flex;

    aspect-ratio: 1;
    min-width: 200px;
    min-height: 200px;
    max-width: 350px;
    max-height: 350px;
    

    & .slider {
        display: flex;
        transition: 100ms ease-out;

        & .item {
            aspect-ratio: 1;
            padding: 1em;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        & .inactive {
            scale: .90;
            filter: blur(5px);
        }
    }

    .progressBar {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1em;
        display: flex;
        justify-content: center;

        & .progressItem {
            margin: 5px;
            height: 10px;
            aspect-ratio: 1;
            border-radius: 10px;
            transition: all 200ms ease-in-out;
            cursor: pointer;

            @include theme-aware('background-color', 'primary');
        }

        & .progressItemActive {
            aspect-ratio: 3;
        }
    }
}