@import "../../styles/config";

.btn {
    margin: 1em;
    padding: .75em 1.5em;
    border-radius: 5em;
    cursor: pointer;

    transition: all 200ms ease;
}

.boxShadow {
	box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
}

// HANDLE VARIANTS
.primary {
    border: 1px solid;

    @include theme-aware('background-color', 'primary');
    @include theme-aware('color', 'on-primary');
    @include theme-aware('border-color', 'primary');

    &:hover {
        background-color: transparent;
        @include theme-aware('color', 'on-background');
    }
}

.primaryOutline {
    background-color: transparent;
    border: 1px solid;
    backdrop-filter: blur(15px);

    @include theme-aware('border-color', 'primary');
    @include theme-aware('color', 'primary');

    &:hover {
        border-color: transparent;
    }
}

// HANDLE FONT SIZE
.sm {
    font-size: .8rem;
}

.md {
    font-size: 1rem;
}

.lg {
    font-size: 1.5em;
}